/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   color: #C9D1C8;
 }

 a:hover {
   color: #5B7065;
 }

 h4 {
   font-style: normal;
 }

 #root {
   background: #C9D1C8;
   color: #04202C;
   font-family: sans-serif;
   left: 0px;
   top: 0px;
   width:100%;
   height:100%;

 }

 #appDiv {
 }


 .errorBlock {
   color: red;
   margin: 15px;
 }

 .cardNonErrorItem {
   color: green;
   list-style: none;
 }

 #splash {
   width: 50%;
   height: 50%;
 }

 .primaryComponent {
   margin-top: 25px;
   margin-bottom: 25px;
   margin-left: 10px;
   margin-right: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .primaryComponent > h1 {
   position: absolute;
 }

 .homepagePanels {
   display: flex;
   flex-direction: row;
   width: 62%;
   background: white;
 }

 .userPanel {
   display: flex;
   flex-direction: column;
   width: 30%;
   background: white;
 }

 .userPanel > div {
   margin: 5%
 }

.navigation {
  color: #C9D1C8;
  background: #04202C;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding-bottom: 5px;
}

.navigation > a {
  text-decoration: none;
}

#mainLogo {
  position: relative;
  top: 25px;
  max-width: 70px;
  height: auto;
}

.browseLink {
  text-decoration: none;
  position: relative;
  right: 20%;
}

.browseLink > a{
  text-decoration: none;
}

.Session {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 90%
}
.Session > a {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  font-family: sans-serif;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
