/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   color: #C9D1C8;
 }

 a:hover {
   color: #5B7065;
 }

 h4 {
   font-style: normal;
 }

 #root {
   background: #C9D1C8;
   color: #04202C;
   font-family: sans-serif;
 }

.Navigation {
  color: #C9D1C8;
  background: #04202C;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 48px
}

.Navigation > a {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-decoration: none;
}


.Session > a {
  margin: 10px;
  text-decoration: none;
  font-family: sans-serif;
}

#mainLogo {
  max-width: 76px;
  margin-right: 5%;
  height: auto;
}

.sessionForm {
}

.sessionForm > form {
  background: #304040;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sessionForm > form > input {
  width: 62%;
  margin: 0px;
}

.sessionForm > form > input[type=submit] {
  background: #04202C;
  color: #FFFFFF;
  margin: 10%;
  border: 0;
  padding: 3%;
  cursor: pointer;
  font-size: 15px;
}

a.boxclose{
  float:right;
  margin-top:-30px;
  margin-right:-100%;
  cursor:pointer;
  color: #fff;
  border: 2px solid #AEAEAE;
  border-radius: 30px;
  background: #000000;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  line-height: 0px;
  padding: 11px 6px;
}

#overlay {
     position: absolute;
     background: rgba(0, 0, 0, 0.8);
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1;
}

#overlay div {
     width:360px;
     margin: 5% auto;
}
