/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   color: #04202C;
 }

 a:hover {
   color: #304040;
 }

 h4 {
   font-style: normal;
 }

 #root {
   background: #C9D1C8;
   color: #04202C;
   font-family: sans-serif;
 }

.Navigation {
  background: #ced5e0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

.Navigation > a {
  text-decoration: none;
  font-family: sans-serif;
}

.Navigation > div > a {
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
}

.sessionForm {
}

.sessionForm > form {
  background: #304040;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sessionForm > form > input {
  width: 62%;
  margin: 0px;
}

.sessionForm > form > input[type=submit] {
  background: #04202C;
  color: #FFFFFF;
  margin: 10%;
}

#overlay {
     position: absolute;
     background: rgba(0, 0, 0, 0.8);
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1;
}

#overlay div {
     width:300px;
     margin: 5% auto;
     opacity: ;
     background-color: red;
     text-align:center;
}
