// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cardForm {
  margin: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  width: 100%;
  background: #F3F2EE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid grey;
}

.cardForm > form {
  width: 100%;
}

.cardForm > form > input {
  width: 62%;
}

.massEditDisplayDeck {
  width: 38%;
}

.massEditForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 62%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  background: #C6C0B8;
  width: 76%;
  padding: 2%;
}

.cardViewer {
  min-height: 62%;
  background: #F3F2EE;
  padding: 2%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin: 4%;
  align-items: center;
}

.cardBottomSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-top: 2%;
  background: #2E4668;
  height: 26%;
  padding: 2%;
}
