// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cardForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid grey;
}

.massEditForm {
  display: flex;
  flex-direction: row;
  width: 62%
}
