// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeDeckItem {
  width: 68%;
  margin: 30px;
  border-top: 2px solid #F3F2EE;
  border-bottom: 2px solid #F3F2EE;
  cursor: pointer;
}

.deckPanel {
  display: inline-block;
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckHeader {
  width: 62%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deckPanelDisplaySubject {
  margin: 10px;
  width: 62%;
  background: #F3F2EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2E4668;
}
