// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeDeckItem {
  width: 68%;
  margin: 30px;
  border-top: 2px solid #F3F2EE;
  border-bottom: 2px solid #F3F2EE;
  cursor: pointer;
}

.deckPanel {
  display: inline-block;
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckHeader {
  width: 62%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deckHeader > h2 {
  font-weight: normal;
  color: #C6C0B8;
}

.deckPanelDisplaySubject {
  margin: 10px;
  width: 100%;
  background: #F3F2EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2E4668;
}

.deckInterface {
  background: #252422;
  color: #F3F2EE;
  width: 24%;
}

.deckInterfacePanel {
  min-height: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.deckInterfaceStats {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.deckInterfaceDataLine {
  width: 86%
}

.studyInterface {
  position: fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
