// Place all the styles related to the decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeDeckItem {
  width: 38%;
  margin: 30px;
  background: grey;
  cursor: pointer;
}

.deckPanel {
  display: inline-block;
  width: 62%
}

.deckPanelDisplaySubject {
  margin: 5%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckPanelDisplaySubject > h1 {
  margin: 5%;
  color: white;
}
