#currentUserAvatar {
  height: 2.8em;
  width: 2.8em;
  margin-right: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.userAvatar {
  height: 2.2em;
  width: 2.2em;
  margin-right: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
