// Place all the styles related to the Subject controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeSubjectItem {
  width: 38%;
  margin: 30px;
  background: grey;
  cursor: pointer;
}


.subjectPanel {
  width: 38%;
}

.browsePanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.browsePanel > div{
  margin: 3%
}
